<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    package="appinventor.ai_imagine_gd.shikshabank"
    platformBuildVersionCode="33"
    platformBuildVersionName="13">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="33" />

    <application
        android:theme="@ref/0x7f09000f"
        android:label="shikshabank"
        android:icon="@ref/0x7f030000"
        android:name="com.google.appinventor.components.runtime.multidex.MultiDexApplication"
        android:debuggable="false"
        android:networkSecurityConfig="@ref/0x7f060000"
        android:roundIcon="@ref/0x7f030000"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Screen1"
            android:exported="true"
            android:screenOrientation="-1"
            android:configChanges="0xdb0"
            android:windowSoftInputMode="0x2">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="appinventor.ai_imagine_gd.shikshabank.provider"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@ref/0x7f060001" />
        </provider>
    </application>
</manifest>
